@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes marquee {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

.hide-scroll-bar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.hide-scroll-bar::-webkit-scrollbar {
    display: none;
}


body {
    font-family: 'Product Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.title-font {
    font-family: "Noto Serif JP", serif;
}
